:root {

}

body {
    font-family: "Roboto", sans-serif;
    font-family: 'Raleway',sans-serif;
    color: #434455;
    background-color: #ffffff
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.studio {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.studio:hover {
    color: #404bbf;
}
.studio:focus {
    color: #404bbf;
}
.address {
    font-style: normal;
}
.postnomb {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.postnomb:hover {
    color: #404bbf;
}
.postnomb:focus {
    color: #404bbf;
}
a[href^="mailto:"] {
    text-decoration: none;
  }
